<div>
    <form action="/view/<%= category %>" method="post" enctype="multipart/form-data">
      <input type="file" name="photo" accept="image/*">
      <input type="text" name="title" placeholder="Title">
      <input type="text" name="desc" placeholder="Description">
      <input type="submit" value="Upload Photo">
    </form>
  </div>
</div>