<form action="/view/<%= category %>/video" method="post">
    <input type="text" name="link" placeholder="Video link">
    <input type="text" name="title" placeholder="Title">
    <input type="text" name="desc" placeholder="Description">
    <input type="submit" value="Upload">
  </form>